/* default Styling*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Nav bar */
    .navbar {
		background:#133020;
		backdrop-filter:blur(10px);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 2rem;
	  box-shadow:0 4px 10px rgba(0,0,0,0.1); 
    }
	   .logo {
      font-size: 1.5rem;
      font-weight: bold;
	  margin-right:auto;
    }
	.navbar ul {
		list-style:none;
      display: flex;
      gap: 1.5rem;
    }
	.navbar a {
      color:#D4E451;
      text-decoration: none;
      font-weight:bold;
	  transition:color 0.3d ease;
	  
    }
	 .navbar a:hover {
      color:#0CBC3E3;
    } 
	img{
		border:1px solid;
		border-radius:60px 70px 40px 140px;
		width:100%;
		max-width:400px;
		object-fit:cover;
		vertical-align:middle;
	}
	.wrapper{
		background:#F8EDD9;
		padding:0 15px;
		display:flex;
		flex-wrap:wrap;
		align-items:center;
		justify-content: space around;
	      gap:5rem;
	}
	
	.intro{
		flex:1;
	}
	.intro h1{
		font-family:sans-serif,Ariel;
		font-size:18px;
	}
	.container{
		background:#133020;
		width:90%;
		padding:10px;
		margin:100px auto;
		display:flex;
		flex-direction:row;
		justify-content:center;
	}
	.box{
		color:#D4E451;
		height:250px;
		width:350px;
		padding:10px;
		border-radius:50px;
		background:transparent;
		backdrop-filter:blur(12px);
		margin:2rem auto;
		box-shadow:0 8px 20px rgba(0,0,0,0.1);
		align-items:center;
		font-family:Poppins, sans-serif;
		font-size:12px;
		text-align:center;
		line-height:185%;
	    
	}
	.section{
		color:#D4E451;
		height:250px;
		width:350px;
		padding:10px;
		border-radius:50px;
		background:transparent;
		backdrop-filter:blur(12px);
		margin:0  auto;
		box-shadow:0 8px 20px rgba(0,0,0,0.1);
		align-items:center;
		font-family:Poppins, sans-serif;
		font-size:12px;
		text-align:center;
		line-height:185%;
	    
	}
	.heading h3{
		text-align:center;
		font-weight:bold;
		font-family:sans-serif,Ariel;
	    font-size:18px;
	}
		.spam p{
	text-align:center;
	font-size:15px;
	font-family: sans-serif;
	font-weight:bold;
}

/*BREAKPOINTS*/
@media(max-width:992px){
	.header{
		padding:1.3rem 5%;
}
}
@media(max-width:768px){
    
	  .wrapper{
		  display:column;
		  flex-direction:column;
		  align-items: center;
		  font-size:12px;
		  
}
.container{
	display:column;
	flex-direction:column;
	font-size:12px;
	align-items:center;
}
}