/* default Styling*/
* {
	font-family:poppins,sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
body{
	text-align:center;
	min-height:100vh;
	color:#C7FDE3;
	background:#fffff no-repeat;
	background-position:center;
	background-size:cover;
	 
}
.header{
    background:#133020;
	box-shadow:0 4px 10px rgba(0,0,0,0.1); 
    position:relative;
	/*top:0;
	left:0;
	width:100%;*/
	padding:1rem 2rem;
	display:flex;
	justify-content:space-between;
	align-items:center;
	z-index:100;
}  
.logo{
	font-size: 1.5rem;
      font-weight: bold;
	  margin-right:auto; 
	  }
 .navbar a{
	 transition:color 0.3d ease;
	
	 font-weight: bold;
	 font-size:16px;
	 color:#D4E451;
	 text-decoration:none;
	 /*font-weight:300;*/
	 margin-left:1.5rem;
 }
 #check{
	 display:none;
 }
 .icons{
	 position:absolute;
	 right:1%;
	 font-size:18px;
	 color:#fff;
	 cursor:pointer;
	 display:none;
 }
 
 
  main{ 
	text-align:center;
	padding:60px 20px;
	color:#C7FDE3;
	font-family: sans-serif ,Ariel;
	font-size: 14px;
}
  
	.foot{
       background:#4D774E;
		
		width:90%;
		padding:10px;
		margin:100px auto;
		display:flex;
		flex-direction:row;
		justify-content:center;
		
	}
	.glass-container{
		height:250px;
		width:350px;
		padding:10px;
		
		backdrop-filter:blur(12px);
		margin:2rem auto;
		box-shadow:0 8px 20px rgba(0,0,0,0.1);
		align-items:center;
		font-family:Poppins, sans-serif;
		font-size:15px;
		text-align:center;
		line-height:185%;
	    
	}
	.glass-section{ 
	    height:250px;
		width:350px;
		
		padding:20px; 
		
		backdrop-filter:blur(12px);
		margin:2rem auto;
		box-shadow:0 8px 20px rgba(0,0,0,0.1);
		align-items:center;
		font-family:Poppins, sans-serif;
		font-size:15px;
		text-align:center;
		line-height:185%;
	} 
	.glass{
		height:250px;
		width:350px;
		padding:10px ;
		backdrop-filter:blur(12px);
		margin:2rem auto;
		/*box-shadow:0 8px 20px rgba(0,0,0,0.1);*/
		align-items:center;
		font-family:Poppins, sans-serif;
		font-size:15px;
		text-align:center;
		line-height:185%;
	}

.Name p{
    background:#4D774E;
	
	color:#D4E451;
	text-align:center;
	font-size:15px;
	font-family: sans-serif;
	font-weight:bold;
}
  #check{ 
	display:none;
}
.icons{
	
	position:absolute;
	right:5%;
	font-size:1.8rem;
	color:#fff;
	cursor:pointer;
	display:none;
}
#menu-icon,#close-icon{
	cursor:pointer;
}
#close-icon{
	display:none;
}


/*BREAKPOINTS*/
@media(max-width:992px){
	.header{
		padding:1.3rem 5%;
}
}
@media(max-width:768px){
	.icons{
		display:inline-flex; 
		align-items:center;
		gap:.5rem;
	}
#check:checked~.icons #menu-icon{
	display:none; 
}
.icons #close-icon{
	display: none;
}
 #check:checked~.icons #close-icon{
	 display:block;
 }
 .navbar{
  position:absolute;
  top:100%;
  left:0;
  width:100%;
  height:0;
 background:#133020;
  backdrop-filter: blur(50px);
  box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
  overflow:hidden;
  transition:.3s ease;
 }
  #check:checked~.navbar{
	  height:17.7rem;
  }
  .navbar a {
	  display:block;
	  font-size:1.1rem;
	  margin:1.5rem 0;
	  text-align: center;
	  transform: translateY(-50px);
	  opacity:0;
	  transition:.3s ease;
  }
  #check:checked~.navbar a {
	  transform:translateY(0);
	  opacity:1;
	  transition-delay:calc(.15s * var(--i));
  }
}
	.foot{
		 flex-direction: row;
    flex-wrap: wrap; /* allows wrapping instead of stacking */
  
		align-items:center;
		font-size:0.75rem;
	}
 h1{
	text-align:center;
	font-size:12px;
}
